@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans&display=swap');

/* Base Styling */
html {
  background: rgb(132,63,251);
  background: radial-gradient(circle, rgba(132,63,251,1) 0%, rgba(252,155,70,1) 100%);  
  font-size: 120%;
  font-family: 'Work Sans', sans-serif;
  line-height: 2rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1, 
h2,
h3 {
  font-family: 'Space Mono', monospace;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 4rem;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
}

.title-container {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 3rem;
  z-index: 20;
}

.title-container p {
  margin-top: 1.5rem;
}

.underlay {
  position: absolute;
  top: 7rem;
  left: 17.5rem;
  height: 10rem;
  width: 55%;
  background-color: white;
  opacity: 70%;
  z-index: 10;
}

